<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- modal alert  -->
    <link rel="stylesheet" href="../css/alertify.css">
    <link rel="stylesheet" href="../css/alertify.rtl.css">
    <link rel="stylesheet" href="../css/themes/bootstrap.css">
    <link rel="stylesheet" href="../css/themes/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../css/themes/default.rtl.css">
    <link rel="stylesheet" href="../css/themes/default.min.css">
    <link rel="stylesheet" href="../css/themes/default.rtl.min.css">
    <link rel="stylesheet" href="../css/themes/semantic.css">
    <link rel="stylesheet" href="../css/themes/semantic.rtl.min.css">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-----------------------font icon  ------>
    <script src="https://kit.fontawesome.com/66e5d31267.js" crossorigin="anonymous"></script>



    <link rel="icon" type="image/x-icon" href="../img/logo.png">
   <title>Trường Trung cấp Công nghiệp Bình Dương</title>
</head>

<body>

    <!-- social contact -->
    <div id="social-contact" class="flex-column">
        <p>CONTACT</p>
        <div><a href="https://www.facebook.com/bdi.edu.vn"><i class="fab fa-facebook-f"></i></a></div>
        <div><a href="mailto:truongtccnbd@gmail.com"><i class="far fa-envelope"></i></a></div>
    </div>
    <!-- end social contact -->

    <!-- scroll to top -->
    <div id="scroll-to-top">
        <div>
            <a href="#top"><i class="fas fa-angle-up"></i></a>

        </div>
    </div>
    <!-- end top scroll -->

    <!-- modal -->
    <div id="modalPicture" onclick="modal">
        <i class="far fa-window-close" style="color: white;"></i>
        <img alt="" id="contentModal">
    </div>





<div id="top"></div>
<header>
    <div id="form-contact" class="flex flex-center container">
        <div>
            <h6>Về chúng tôi.</h6>
            <p>Với kinh nghiệm lâu năm trong lĩnh vực dạy và học và cơ sở vật chất đầy đủ, hiện đại. Chúng tôi tin rằng
                ngôi
                trường này sẽ là nơi chắp cánh cho những ước mơ của các bạn sinh viên đi xa hơn nữa.
            </p>
        </div>
            <div>
                <h6>Liên hệ</h6>
            
                <div>
                    <a href="https://www.facebook.com/bdi.edu.vn" class="center">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div>
                    <a href="tel:+02746280176" class="center">
                        <i class="fas fa-phone"></i>
                    </a>
                </div>
                <div>
                    <a href="mailto:truongtccnbd@gmail.com" class="center">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
                <div>
                    <a href="registration.html" class="center">
                        <i class="fas fa-pencil-alt"></i></a>
                </div>
            
            </div>

    </div>
    <div id="contact-top">
        <div class="container">
            <div id="open-form-contact" onclick="openSearchForm()">

                <i class="fas fa-compress" style="color: white;"></i>
            </div>
            <div id="close-form-contact" onclick="closeSearchForm()">

                <i class="fas fa-expand" style="color: white;"></i>
            </div>

        </div>

    </div>

</header>

<!-- logo -->
<div id="logo">

    <div class="container flex-center center">
        <div>
            <a href="../index.html">

                <img src="../img/logo-title.png" alt="">
            </a>
        </div>
        <div>
            <a href="registration.html">
                <img src="../img/tuyensinh3.jpg" alt="">
            </a>
        </div>
    </div>
</div>






<!-- menu -->
    <div id="menu">
        <div class="container flex-center">
            <a href="../index.html"><i class="fas fa-home"></i></a>
            <ul>
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="./introduct.html">Giới thiệu</a></li>
                <li><a href="./list.html" class="drop-down">Cơ cấu tổ chức</a>
                    <ul>
                        <li><a href="./administrators.html">Ban giám hiệu</a></li>
                        <li><a href="./administrators.html">Các phòng ban chức năng</a></li>
                        <li><a href="./administrators.html">Các khoa bộ môn</a></li>

                    </ul>
                </li>
                <li><a href="./list-article.html" class="drop-down">Đào tạo</a>
                    <ul>
                        <li><a href="./introduct.html">Trung Cap Chinh Quy</a></li>
                        <li><a href="./introduct.html">Lien Thong Cao Dang</a></li>
                        <li><a href="./introduct.html">Lien Thong Dai Hoc</a></li>
                        <li><a href="./introduct.html">Chuong Trinh Dao Tao</a></li>
                    </ul>
                </li>
                <li><a href="./list-article.html">Tuyển sinh</a></li>
                <li><a href="./schedule.html">Thời khóa biểu</a></li>
                <li><a href="./registration.html">Đăng kí xét tuyển</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
            </ul>
            <i class="fas fa-times" id="close" onclick="closeResponsiveMenu()"></i>
            <i class="fas fa-bars" id="bars" onclick="openResponsiveMenu()"></i>
        </div>
    </div>
<!-- end menu -->

    <!-- content -->

    <div id="home-content">
        <div class="container flex">
            <!-- left content 75%  -->
            <div id="home-content-left">
                <div class="article">
                    <div class="category">
                        <h5><a href="../index.html"><i class="fas fa-home"></i></a></h5>
                        <i class="fas fa-angle-double-right"></i>
                        <h6><a href="#">Gioi thieu</a></h6>
                        <i class="fas fa-angle-double-right"></i>
                        <h6><a href="#">Danh muc</a></h6>
                        </i>
                    </div>

                    <!-- view category list -->
                    <div class="title-registration">
                        Quý vị có thể gửi thư tới chúng tôi bằng cách hoàn tất biểu mẫu dưới đây. Để chúng tôi có thể trả lời thư của Quý vị,
                        xin vui lòng khai báo đầy đủ.
                    </div>

                    <div>
                        <form method="POST" class="register-form" id="contact-form" onsubmit=" return validateFormContact()"
                            method="post">
                            <!-- alert -->

                            <h2>Form đăng ký thông tin.</h2>

                            <div class="form-group">
                                <label for="title">Tiêu đề:</label>
                                <input type="text" name="ftitle" id="title" required placeholder="Tiêu đề cần gửi">
                            </div>
                            <div class="form-group">
                                <label for="name">Họ và tên :</label>
                                <input type="text" name="fname" id="name" placeholder="Họ và tên">
                            </div>


                            <div class="form-row">

                                <div class="form-group">
                                    <label for="email">Email :</label>
                                    <input type="email" name="femail_iavim" id="email" placeholder="***@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Số điện thoại :</label>
                                    <input type="text" name="fphone" id="phone" placeholder="0986*****">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="fpart">Gửi đến bộ phận:</label>
                                <div class="form-select">
                                    <select name="fpart" id="fpart">
                                        <option value="0"></option>
                                        <option value="1">Ban giám hiệu</option>
                                        <option value="2">Phòng đào tạo</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fcon">Tin nhắn của bạn :</label>
                                <textarea name="fcon" id="fcon" cols="30" rows="10" ></textarea>
                            </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="spam">Mã chống spam</label>
                                        <input type="text" name="spam" id="spam" >
                                    </div>
                                    <div class="form-group center">
                                        <img src="../img/ads.jpg" alt="">
                                    </div>
                                </div>
                            <div class="form-submit">

                                <input type="reset" value="Reset Form" class="submit" id="reset">
                                <input type="submit" value="Đăng ký" class="submit" name="submit" id="submit">
                            </div>
                        </form>


                    </div>

                </div>
            </div>
            <!-- End home left content 75% -->

            <!-- home content right -->
            <div id="home-content-right">
                <div class="flex-column">
                    <div>
                        <h6><a href="registration.html">Đăng ký nhập học</a> </h6>
                        <a href="registration.html">
                            <img src="../img/dangky.jpg" alt="">
                        </a>
                    </div>

                    <div>
                        <!-- map -->
                        <h6><a href="#">Bản đồ</a> </h6>
                        <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8313483978063!2d106.73792971480181!3d10.900418692237457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa754495eeb43247!2zVHLGsOG7nW5nIFRydW5nIEPhuqVwIEPDtG5nIE5naGnhu4dwIELDrG5oIETGsMahbmc!5e0!3m2!1svi!2s!4v1607836740711!5m2!1svi!2s"
                                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>

                        </div>
                    </div>

                    <div>
                        <h6><a href="#">Quảng cáo</a> </h6>
                        <a href="#">
                            <img src="../img/ads.jpg" alt="">
                        </a>
                    </div>
                    <div class="flex-column">
                        <h6><a href="#">Thống kê truy cập</a> </h6>
                        <ul class="flex-column">
                            <li>
                                <p>Dang truy cap :</p><span>3</span>
                            </li>
                            <li>
                                <p>Hom nay :</p><span>4</span>
                            </li>
                            <li>
                                <p>Thang nay :</p><span>4</span>
                            </li>
                            <li>
                                <p>Tong lượt truy cập :</p><span>4</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end home content right -->
            </div>
        </div>
    </div>

    <footer>
        <div class="container flex-center">
            <!-- about us -->
            <div class="flex-column">
                <h5>Trường Trung Cấp Công nghiệp Bình Dương</h5>
                <div>
                    <p><span>Địa chỉ:</span> Đường DT 743, KCN Sóng Thần, Bình Hòa, Thuận An, Bình Dương</p>
                </div>
                <div>
                    <p><span>Phone:</span><a href="tel:+02746280176">(0274) 6280176 - 6280175 </a>- <a
                            href="tel:+">6280175</a></p>
    
                </div>
                <div>
                    <p><span>Fax:</span>
                    (0274) 6280091 </p>
    
                </div>
                <div>
                    <p><span>Mail:</span><a href="mailto:truongtccnbd@gmail.com">truongtccnbd@gmail.com</a></p>
    
                </div>
                <div>
                    <p><span>Chiu trach nhiem noi dung:</span>TS. Vũ Minh Hùng, Hiệu Trưởng, Kiêm Chủ tịch HĐQT</p>
    
                </div>
            </div>
    
            <!-- author -->
            <div class="flex-column">
                <h5>Tác giả</h5>
                <div>
                    <span>Thiết kế bởi: </span><a href="mailto:mrtraibp@gmail.com">Nguyễn Văn Trãi</a>
                </div>
                <div>
                    <span>Website: </span><a href="http://Trainguyen.net">TraiNguyen.net</a>
                </div>
                <div>
                    <span>Support FrontEnd: </span><a href="https://www.facebook.com/lehoa.strong/">student Văn Hòa</a>
                </div>
                <div>
                    <span>Website: </span><a href="http://Levanhoa.com">Levanhoa.com</a>
                </div>
    
            </div>
        </div>
        </div>
    
        <!-- license (ban quyen) -->
    </footer>
    <div id="license" class="center">
        <p>© 2020 - Trường Trung Cấp Công Nghiệp Bình Dương | All rights reserved.</p>
    
    </div>

</body>
<script src="../js/alertify.js"></script>
<script src="../js/alertify.min.js"></script>
<script src="../js/script.js"></script>

</html>